

{% extends "MiApp/padre.html" %}
{% load static %}
{% block headermodificable %}
<div class="masthead-heading text-uppercase">CONTACTATE CON NOSOTROS</div>
{% endblock %}
{% block navmodificable %}
<li class="nav-item"><a class="nav-link" href="{% url 'inicio' %}">Volver al inicio</a></li>
{% endblock %}
{% block contenidoMastheadCambia %}
<a class="btn btn-warning btn-xl text-uppercase" href="#">Quiero contactarme</a>
{% endblock%}
{% block NuestroHogar %}
{% endblock %}
{% block Adopta %}
{% endblock %}
{% block Contacto %}
<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Contactate con nosotros</h2>
            <h3 class="section-subheading text-muted">Aquí un formulario para que puedas dejarnos tus consultas...</h3>
        </div>
        <div class="container">
            <form action="{% url 'contacto' %}" method="POST" class="form-group mt-5 col-6">
                {% csrf_token %}
                <h2 style="color:white" class="text-center">FORMULARIO DE CONTACTO</h2>
                <p style="color:white">Nombre: <input type="text" name="nombreConsultante" id="nombreConsultante" class="form-control mb-2" placeholder="Su nombre"></p>
                <p style="color:white">E-Mail: <input type="email" name="emailConsultante" id="emailConsultante" class="form-control mb-2" placeholder="Su E-Mail"></p>
                <p style="color:white">Telefono: <input type="tel" name="telefonoConsultante" id="telefonoConsultante" class="form-control mb-2" placeholder="Su Telefono"></p>
                <p style="color:white">Consulta <textarea name="mensajeConsultante" id="mensajeConsultante" class="form-control mb-2" placeholder="Deje su consulta aquí..."></textarea></p>
                <br>
                <button type="submit" class="btn btn-info mb-2" >Enviar consulta</button>
                
            </form>
            </div>
    </div>
</section>
{% endblock %}
