{% extends "MiApp/padre.html" %}
{% load static %}
{% block headermodificable %}
<div class="masthead-heading text-uppercase">CONSULTA ENVIADA, EN BREVE LE CONTESTAREMOS</div>
{% endblock %}
{% block navmodificable %}
<li class="nav-item"><a class="nav-link" href="{% url 'inicio' %}">Volver al inicio</a></li>
{% endblock %}
{% block contenidoMastheadCambia %}
<a class="btn btn-warning btn-xl text-uppercase" href="#">Quiero contactarme</a>
{% endblock%}
{% block NuestroHogar %}
{% endblock %}
{% block Adopta %}
{% endblock %}
{% block Contacto %}
{% endblock %}