{% extends "MiApp/padre.html" %}
{% load static %}
{% block headermodificable %}
<div class="masthead-heading text-uppercase">DONACIONES</div>
{% endblock %}
{% block navmodificable %}
<li class="nav-item"><a class="nav-link" href="{% url 'inicio' %}">Volver al inicio</a></li>
{% endblock %}
{% block contenidoMastheadCambia %}
{% endblock%}
{% block NuestroHogar %}
<h2 style="color:red">MUCHAS GRACIAS POR SU DONACIÓN</h2>
<a class="btn btn-info btn-xl text-uppercase" href="{% url 'donaciones' %}">Volver a la página anterior</a>
{% endblock %}
{% block Adopta %}
{% endblock %}
{% block Contacto %}
{% endblock %}
{% block AdoptaPopup %}
{% endblock %}