    {% extends "MiApp/padre.html" %}
    {% load static %}
    {% block headermodificable %}
    <div class="masthead-heading text-uppercase">VOS PODES SALVAR UNA VIDA</div>
    {% endblock %}
    {% block navmodificable %}
    <li class="nav-item"><a class="nav-link" href="#services">Nosotros</a></li>
    <li class="nav-item"><a class="nav-link" href="#portfolio">Adoptá</a></li>
    {% endblock %}
    {% block contenidoMastheadCambia %}
        <a class="btn btn-success btn-xl text-uppercase" href="#services">Quiero saber más</a>
    {% endblock %}
    {% block NuestroHogar %}
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">NUESTRO HOGAR</h2>
                    <h3 class="section-subheading text-muted">En nuestro hogar tenemos muchos animales a los que podes salvarle la vida...</h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-6x">
                            <img src="{% static 'MiApp/assets/img/animales/gato.jpg' %}" alt="" width="130px" height="auto">
                        </span>
                        <h4 class="my-3">Gatos</h4>
                        <p class="text-muted">En nuestro hogar tenemos más de 200 gatos que están buscando una familia que los pueda amar y puedan brindarle lo mejor. Los gatos del hogar han sido rescatados en distintas circunstancias, algunas muy extremas, pero todos reciben los mejores cuidados para que se encuentren aptos para ser adoptados.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-6x">
                            <img src="{% static 'MiApp/assets/img/animales/perro.jpg' %}" alt="" width="130px" height="auto">
                        </span>
                        <h4 class="my-3">Perros</h4>
                        <p class="text-muted">Actualmente nos encontramos con alrededor de 140 perros esperando poder encontrar su familia ideal, todos han pasado por excelentes veterinarios que les brindaron los mejores cuidados, aunque algunos aún continúan con cuidados para en algún momento estar listos para ser adoptados. Al igual que los gatos, todos los perros han sido rescatados de distintas circunstancias como abandono o maltrato ,pero ya están listos para ser adoptados.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-6x">
                            <img src="{% static 'MiApp/assets/img/animales/mapache.jpg' %}" alt="" width="300px" height="auto">
                        </span>
                        <h4 class="my-3">Mapaches</h4>
                        <p class="text-muted">Si bien tenemos gatos y perros en adopción, también nos dedicamos a poder rehabilitar mapaches que se encuentren heridos y que solo pueden vivir en cautiverio, para eso les otorgamos todos los cuidados necesarios y luego una familia que cumpla con todos los requisitos necesarios podrá adoptar una de estas bellas criaturas.</p>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
    {% block Adopta %}
        <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">ADOPTÁ</h2>
                    <h3 class="section-subheading text-muted">Aquí les mostramos algunos de nuestros bellos animales que esperan su hogar ideal.</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 1-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'MiApp/assets/img/animales/maggie.jpg' %}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Olimpo</div>
                                <div class="portfolio-caption-subheading text-muted">Gato macho 4 años</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'MiApp/assets/img/animales/maggie1.jpg' %}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Maggie</div>
                                <div class="portfolio-caption-subheading text-muted">Gata hembra 2 años</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 3-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'MiApp/assets/img/animales/kino.jpg' %}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Kino</div>
                                <div class="portfolio-caption-subheading text-muted">Gatito macho 5 meses</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                        <!-- Portfolio item 4-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'MiApp/assets/img/animales/ornn.jpg' %}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Ornn</div>
                                <div class="portfolio-caption-subheading text-muted">Perro macho 8 años</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                        <!-- Portfolio item 5-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'MiApp/assets/img/animales/tuti.jpg' %}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Tuti</div>
                                <div class="portfolio-caption-subheading text-muted">Perra hembra 9 meses</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <!-- Portfolio item 6-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'MiApp/assets/img/animales/best.jpg' %}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Best</div>
                                <div class="portfolio-caption-subheading text-muted">Mapache macho 2 años</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
    {% block Contacto %}
       
    {% endblock %}
    {% block AdoptaPopup %}
        <!-- Portfolio item 1 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'MiApp/assets/img/close-icon.svg' %}" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Olimpo</h2>
                                    <p class="item-intro text-muted">Gato macho 4 años</p>
                                    <img class="img-fluid d-block mx-auto" src="{% static 'MiApp/assets/img/animales/maggie.jpg' %}" alt="..." width="300px" />
                                    <p>Olimpo es un gato super amable y compañero. Está listo para encontrar un hogar.</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Nombre:</strong>
                                            Olimpo
                                        </li>
                                        <li>
                                            <strong>Edad:</strong>
                                            4 años
                                        </li>
                                    </ul>
                                    <button class="btn btn-success btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Volver atras
                                    </button>
                                    <a class= "btn btn-success btn-xl text-uppercase" href="{% url 'requisitos' %}">
                                        REQUISITOS DE ADOPCIÓN
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 2 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'MiApp/assets/img/close-icon.svg' %}" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Maggie</h2>
                                    <p class="item-intro text-muted">Gata hembra 2 años</p>
                                    <img class="img-fluid d-block mx-auto" src="{% static 'MiApp/assets/img/animales/maggie1.jpg' %}" alt="..." width="300px"/>
                                    <p>Gata cariñosa lista para poder encontrar a su familia ideal.</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Nombre:</strong>
                                            Maggie
                                        </li>
                                        <li>
                                            <strong>Edad:</strong>
                                            2 años
                                        </li>
                                    </ul>
                                    <button class="btn btn-success btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Volver atras
                                    </button>
                                    <a class= "btn btn-success btn-xl text-uppercase" href="{% url 'requisitos' %}">
                                        REQUISITOS DE ADOPCIÓN
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 3 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'MiApp/assets/img/close-icon.svg' %}" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Kino</h2>
                                    <p class="item-intro text-muted">Gatito macho 5 meses</p>
                                    <img class="img-fluid d-block mx-auto" src="{% static 'MiApp/assets/img/animales/kino.jpg' %}" alt="..." width="300px" />
                                    <p>Hermoso gatito se encuentra en adopción responsable</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Nombre:</strong>
                                            Kino
                                        </li>
                                        <li>
                                            <strong>Edad:</strong>
                                            5 meses
                                        </li>
                                    </ul>
                                    <button class="btn btn-success btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Volver atras
                                    </button>
                                    <a class= "btn btn-success btn-xl text-uppercase" href="{% url 'requisitos' %}">
                                        REQUISITOS DE ADOPCIÓN
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 4 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'MiApp/assets/img/close-icon.svg' %}" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Ornn</h2>
                                    <p class="item-intro text-muted">Perro macho 8 años</p>
                                    <img class="img-fluid d-block mx-auto" src="{% static 'MiApp/assets/img/animales/ornn.jpg' %}" alt="..." width="300px" />
                                    <p>Ornn está esperando su hogar ideal con una familia que lo quiera cuidar para siempre.</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Nombre:</strong>
                                            Ornn   
                                        </li>
                                        <li>
                                            <strong>Edad:</strong>
                                            8 años
                                        </li>
                                    </ul>
                                    <button class="btn btn-success btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Volver atras
                                    </button>
                                    <a class= "btn btn-success btn-xl text-uppercase" href="{% url 'requisitos' %}">
                                        REQUISITOS DE ADOPCIÓN
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 5 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'MiApp/assets/img/close-icon.svg' %}" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Tuti</h2>
                                    <p class="item-intro text-muted">Perra hembra 9 meses</p>
                                    <img class="img-fluid d-block mx-auto" src="{% static 'MiApp/assets/img/animales/tuti.jpg' %}" alt="..." width="300px" />
                                    <p>Tuti es una perrita cariñosa, que espera una buena familia que la cuide.</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Nombre:</strong>
                                            Tuti
                                        </li>
                                        <li>
                                            <strong>Edad:</strong>
                                            9 meses
                                        </li>
                                    </ul>
                                    <button class="btn btn-success btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Volver atras
                                    </button>
                                    <a class= "btn btn-success btn-xl text-uppercase" href="{% url 'requisitos' %}">
                                        REQUISITOS DE ADOPCIÓN
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 6 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'MiApp/assets/img/close-icon.svg' %}" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Best</h2>
                                    <p class="item-intro text-muted">Mapache macho 2 años</p>
                                    <img class="img-fluid d-block mx-auto" src="{% static 'MiApp/assets/img/animales/best.jpg' %}" alt="..." width="300px"/>
                                    <p>Mapache listo para ser adoptado, por una familia la cual principalmente pueda cumplir con todos los requisitos que solicitamos.</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Nombre:</strong>
                                            Best
                                        </li>
                                        <li>
                                            <strong>Edad:</strong>
                                            2 años
                                        </li>
                                    </ul>
                                    <button class="btn btn-success btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Volver atras
                                    </button>
                                    <a class= "btn btn-success btn-xl text-uppercase" href="{% url 'requisitos' %}">
                                        REQUISITOS DE ADOPCIÓN
                                </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}