    {% extends "MiApp/padre.html" %}
    {% load static %}
    {% block headermodificable %}
    <div class="masthead-heading text-uppercase">MUCHAS GRACIAS</div>
    {% endblock %}
    {% block navmodificable %}
    <li class="nav-item"><a class="nav-link" href="{% url 'inicio' %}">Inicio</a></li>
    {% endblock %}
    {% block contenidoMastheadCambia %}
        <a class="btn btn-success btn-xl text-uppercase" href="{% url 'inicio' %}">Volver a la página anterior</a>
    {% endblock %}
    {% block NuestroHogar %}
    <section class="page-section bg-light" id="portfolio">
        <div class="container">
        <h2 style="color:green">MUCHAS GRACIAS, A LA BREVEDAD NOS COMUNICAREMOS CON USTED VÍA E-MAIL</h2>
        <img src="{% static 'MiApp/assets/img/infraganti.png' %}" alt="best-mapache">
        </div>
    </section>
    {% endblock %}
    {% block Adopta %}
    {% if animales %}
    <h3>Estamos buscando los animales del tipo: {{tipoAnimal}}</h3>
    <ul>
        {% for animal in animales %}
        <li>Animal: {{animal.nombreAnimal}}, Edad animal: {{animal.edadAnimal}}, Tipo Animal: {{animal.tipoAnimal}}</li>
        <br>
        {% endfor %}
    </ul>
    {% elif not tipoAnimal %}
    <h2 style="color:orange">{{respuesta}}</h2>
    {% elif tipoAnimal%}
    <h2 style="color:red">No se encontraron datos para ese Animal</h2>
    {% endif %}
    {% endblock %}
    {% block Contacto %}
       
    {% endblock %}