{% extends "MiApp/padre.html" %}
{% load static %}
{% block headermodificable %}
<div class="masthead-heading text-uppercase">REQUISITOS DE ADOPCIÓN</div>
{% endblock %}
{% block navmodificable %}
<li class="nav-item"><a class="nav-link" href="{% url 'inicio' %}">Volver al inicio</a></li>
{% endblock %}
{% block contenidoMastheadCambia %}
<a class="btn btn-danger btn-xl text-uppercase" href="#requisitos">Quiero saber más</a>
{% endblock%}
{% block NuestroHogar %}

<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase" id="requisitos">REQUISITOS DE ADOPCION</h2>
            <h3 class="section-subheading text-muted">A continuación brindamos información sobre todos los requisitos necesarios:</h3>
        </div>
        <div>
            <ul style="color:white">
                <li>
                    <h3>Tener suficiente espacio para la mascota.</h3>
                </li>
                <li>
                    <h3>Tener suficiente sosten econcomico para atender a la mascota y brindarle todas sus necesidades básicas.</h3>
                </li>
                <li>
                    <h3>Brindar cariño incondicional a la mascota.</h3>
                </li>
                <li>
                    <h3>Castrar y vacunar a la mascota.</h3>
                </li>
                <li>
                    <h3>Llenar el formulario de pre-adopción y en el caso de cumplir con todo lo necesario nos comunicaremos contigo vía e-mail.</h3>
                </li>
            </ul>
        </div>
{% endblock %}
{% block Adopta %}

{% endblock %}
{% block Contacto %}
{% endblock %}
{% block AdoptaPopup %}
{% endblock %}